@use '../util' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.audiovisuelslider {
    height: 95vh;
    width: 100%;
    position: relative;

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__img.shown {
        opacity: 1;
    }

    &__manualbtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &--next {
            right: 5rem;
        }
        &--preview {
            left: 5rem;
        }
    }
}

.imggallery {
    padding-top: 4rem;
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 0.5rem;
        //grid-auto-rows: auto;
        grid-auto-flow: dense;

        img {
            width: 100%;
        }
    }
    .span2 {
        grid-column: span 2;
        grid-row: span 2;
        //height: 200px;
    }
    .test4 {
        grid-column: span 2;
        grid-row: span 2;
    }
}
.photographiegrid {
    padding-top: 4rem;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__text {
        text-align: center;
        align-self: center;

        p {
            text-align: center;
            padding-bottom: 2rem;
        }
    }
    // &__img {
    //     width: 100%;
    // }
}

.captureimage {
    padding-top: 4rem;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        h1 {
            text-align: center;
        }
        img {
            width: 100%;
        }
    }
}
.audiovisuel__paragraph {
    font-weight: 400;
    font-size: rem(20);
    line-height: rem(24);
    margin: 0;
}
.audiovisuel__title {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: rem(48);
    line-height: rem(61);
    margin: 0;
}
.btn__second {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border-radius: rem(8);
    padding: rem(9) rem(26);
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(17);
}
.btn__second:hover {
    background-color: #237dbe;
}
.btn__second--blue {
    background: var(--blue);
}
