@use '../util' as *;

.section_blog{
    padding-bottom: rem(120);
    padding-top: rem(40);
    @include breakpoint-down(small){
        padding-bottom: 0;
    }
    .contain{
	    padding: 0 rem(120);
        @include breakpoint-down(small){
            padding: 0 rem(10);
        }
    }
    .ecran_bloc{
        .content__title{padding-bottom: rem(63);
            @include breakpoint-down(small){
                padding: 0;
            }
        }
        .content__elts{
        padding-bottom: rem(52);
        gap: rem(96);
        @include breakpoint-down(small){
            grid-template-columns: 1fr;
        }
        .content__card{
            gap: rem(21);
            row-gap: rem(44);
            @include breakpoint-down(small){
                grid-template-columns: repeat(2, 1fr);
            }

            .card1{
                height: min-content;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
                &__img{
                    img{
                        width: 100%;
                    }
                    &1{
                        img{
                            height: 30vh;
                            @include breakpoint-down(small){
                                height: 18.5vh;
                            }
                        }
                    }
                }
                &__text{
                    padding: rem(10);
                    text-align: center;
                    h3{
                        font-size: 1.3rem;
                        @include breakpoint-down(small){
                            font-size: 1rem;
                        }
                    }
                    span{
                        @include breakpoint-down(small){
                            font-size: 0.8rem;
                        }
                    }
                    a{
                        color: var(--blue);
                    }
                }
            }
        }
        .content__img{
            position: relative;
            @include breakpoint-down(small){
                display: none;
            }
            img{
            width: 100%;
            }
            .text-block {
                position: absolute;
                width: rem(331);
                bottom: rem(50);
                color: var(--white);
                padding-left: rem(20);
                padding-right: rem(20);
                h2{font-size: 2rem;}
                p{font-size: rem(15);}
              }
        }
    }
    }

    .mobile_bloc{
        display: none;
        @include breakpoint-down(small){
            display: none;
                // display: grid;
                gap: rem(4);
            .card{
                background: hsla(0, 0%, 85%, 1);
                
                &-link{
                    text-decoration: none;     
                    display: inline-block;     
                    transition: all 0.3s;     
                    color: rgb(20, 20, 20);
                    img {
                        width: 100%;
                    }
                    &:hover {
                        box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.12);
                        transition: all 0.3s;
                    }
                } 
                &-text {
                    padding: 0 0.375rem;
                    margin-bottom: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        padding-top: rem(12);
                        text-align: center;
                        white-space: nowrap;
                        font-size: 1rem;
                        line-height: 1;
                        margin-bottom: 0.5rem;
                    }
                    img {
                        width: 2rem;
                        align-self: flex-end;
                    }
                }
                &-description {
                    font-size: 1.1rem;
                    text-align: initial;
                    font-style: normal;
                    line-height: rem(12);
                    margin: 0;
                } 
                &-header{
                    text-transform: uppercase;
                    line-height: 1.4;
                    margin-bottom: 1rem;
                    font-size: 0.7rem;
                }
                &-icon{
                    display: inline-block;
                    align-self: flex-end;
                }
                .saut > .card-icon{
                    margin-top: 4.375rem;
                }
            }
        }
    }
}
.justify{display: grid;}